html { 
  background: url(kremlin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video-container {
  align-self: flex-end;
  width: 90%;
}

video {
  height: 10%;
  width: 100%;
}

.title-red {
  color: #d11;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lyrics {
  color: #d22;
  font-size: 5em;
  margin-top: 15%;
  margin-bottom: 15%;
  max-height: 30%;
}

.lyric-active {
  color: #000;
}
